.disableScroll{
      overflow-y:hidden;
      overflow-x:hidden;
}
* 
{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

span {
	color: #3399FF;
}

h1 {
	text-align: center;
	font-size: 35px;
	font-family: Pontano Sans, sans-serif;
}

h4 {	
	position: relative;
	height: 175px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	font-weight: 200;
	font-family: "Quicksand", sans-serif;
	color: #FFFFFF;
	letter-spacing: 2px;
	padding-top: 15px;
	padding-bottom: 30px;
	line-height: 120%
}

h5 {	
	position: relative;
	text-align: center;
	font-size: 48px;
	font-family: "Quicksand", sans-serif;
	color: black;
	letter-spacing: 2px;
	line-height: 120%;
	margin-top: 30px;
}

p {
	font-family: "Quicksand", sans-serif;
	vertical-align: middle;

}

br {
    line-height: 36px;
}

 .navbar-container {
	overflow: hidden;
	text-align: center;
	border-right: 8px solid #525252;
    background: -webkit-linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradientwhite(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* Standard syntax (must be last) */
}

.navbar-fixed {
	background-color: #C0C0C0;
	border-bottom: 6px solid #D4D4D4;
	position: absolute;
    width: 280px;
}

.stuck{
    position:fixed;
    top:0;
}

.nav{
	width: 100%;
	height: 100px;
	margin-top:20px;
}

.navbar-inner-bottom {
	background-color: black;
	height: 25px;
	width: 100%;
	min-height: 1px;
	position: fixed;
	bottom: 0;
	border-top: 5px solid #525252;
	opacity: 0.7;
	z-index: 100;
}

 .navbar {
	height: 25px;
	width: 100%;
    padding-top: 0px;
    margin: 0px;
    position: absolute;
	background-color: black;
	position: fixed;
	bottom: 0;
	opacity: 0.7;
	z-index: 100;
}

#navbar-name {
	width: calc(100% + 1px);
	height: 200px;
	display: table;
	text-align: center;
}

 .container-bottom {
 	height: 100%;
	width: 1170px;
	margin-left: 35px;
	margin-right: 125px;
	background-color: black;
    position: absolute;
    display: inline-block;
	opacity: 0.7;
}

ul.circle {
	width: 100%;
}

ul.circle li {
	list-style-type: circle;
	display: list-item;
	margin-left: 80px;
	font-size: 18px;
	font-family: "Quicksand", sans-serif;
	color: black;
	margin-top: 10px;
	text-align: left;
	padding-left: 15px;
}

ul.circle li:last-child {
	margin-bottom: 35px;
}

ul.circle:last-of-type li:last-child {
	margin-bottom: 60px;
}

.brand {
	font-size: 36px;
	font-family: "Quicksand", sans-serif;
	color: white;
	text-decoration: none;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	background-color: black;
}

.navbar-name {
	width: 100%;
	height: 200px;
	display: table;
	background-color: black;
}

ul.nav li {
	width: 100%;
	margin-top: 13px;
	padding-left: 20px;
	color: #3D59AB;
	display: table;
	text-align: left;
	white-space: nowrap;
}

.select {
	background-color: black;
}

ul.nav a {
	text-decoration: none;
	display: inline block;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	text-align: left;
	color: #3399FF;
	line-height: 62px;

}

.list-item:hover {
    font-weight:bold;
}

.img-circular {
	 width: 300px;
	 height: 300px;
	 background-image: url('file:///Users/spencerhivert/Desktop/MX.jpg');
	 background-size: cover;
	 display: block;
	 border-radius: 150px;
	 -webkit-border-radius: 150px;
	 -moz-border-radius: 150px;
	 border: 2px solid #606060;
}

.img-container {
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 30px;
	 float: center;
	 width: 300px;
}

.img-container-about {
	width: 300px;  
    margin: 0 auto;
    margin-top: 20px;

}

.content-container  {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	overflow-y: scroll;
}

.section {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

.blue {
	background-color: #b0c4de;
}

.white {
	background-color: white;

}

.container-bottom p {
	text-align: left;
	font-size: 16px;
	font-family: Pontano Sans, sans-serif;
	color: #FFFFFF;
	background-color: black;
	letter-spacing: 2px;
	vertical-align: middle;
	position: relative;
	margin-top: 2px;

}

#resume-text {
	text-align: left;
	margin-left: 50px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 22px;
	color: #3D59AB;
}

#pro-text {
	text-align: left;
	margin-left: 15px;
	font-weight: bold;
	margin-bottom:10px;
	margin-top: 25px;
	font-size: 26px;
	color: #3D59AB;
}


#pro-position {
	text-align: left;
	margin-left: 25px;
	font-size: 22px;
	color: #3D59AB;

}

#right-tab {
	float: right;
	color: black;
}

#about-text {
	text-align: center;
	line-height: 140%;
	margin-bottom: 40px;
}


.section-heading {
	padding-top: 10px;
	height: 66px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #484848;
	vertical-align: center;
}

table.contact-info {
	background-color: white;
	border-style: solid;
	border: thick double grey;
	margin:0 auto;
	margin-top: 45px;
}

table.contact-info tr:nth-child(1) td {
	padding: 25px 15px 25px 15px;
	text-align: center;
}

table.contact-info tr:nth-child(2) td {
	padding: 15px 30px 15px 30px;
	text-align: center;
	 
}

.contact-info-text {
	width: 100%;
	float: middle;
}

.contact-info-text p {
	text-align: center;
	font-size: 30px;
}

.table-text {
	text-align: center;
	font-size: 22px;
	color: white;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: none
}

table.contact-info a:link {
	text-align: center;
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: none;
}

table.contact-info a:hover {
	text-decoration: underline;
}


#resume {
	text-decoration: underline;
	color: #3D59AB;

}

#resume:hover {
	font-weight: bold;
}

#new-york {
 	filter: gray; /* IE6-9 */
  	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.down_arrow {
	display: block;
	position: absolute;
	float: middle;
	vertical-align: middle;
	bottom: 60px;
	width: 120px;
	height: 120px;
    left:50%;
    margin-left:-70px;
    z-index: 100;
}


.real-content {
	display: table-cell;
	vertical-align: middle;
}

#welcome {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: black;
	text-align: center;
}

.image-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.pro-content {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.welcome-spiel {
	width: 75%;
	margin: 0 auto;
	font-size: 24px;
	margin-top: 30px;
	color: black;
}

#welcome-text {
	position: absolute;
	display: block;
	top: 25%;
	background-color: black;
	opacity: 0.7;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 99;

}

#welcome-name {
	color:white;
	font-size:54px; 
	line-height: 140%;
	font-family: "Quicksand", sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
	padding-top: 30px;
	line-height: 120%
}

#welcome-info {
	position: relative;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	font-weight: 200;
	font-family: "Quicksand", sans-serif;
	color: #FFFFFF;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 30px;
	line-height: 120%
}

.skills-table {
	margin: auto;
	margin-top: 20px;
}


table.skills-table td {
	padding: 30px 5px 30px 30px;
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	text-align: left;
}

table.skills-table img {
	width: 50px;
}

table.skills-table td:nth-child(2) {
	padding-right: 80px;
}

.body {
	margin-left: 280px;
}

.body.minimized {
  margin-left: 8px;
}

.menu-close {
	display: inline-block;
	z-index: 1;
	float: left;
}

.menu-stuck {
	position: fixed;
	top: 0;
}

.menu-cl.minimized {
	left: 8px;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 75px;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 25px;

}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 32px;
  bottom: 30px;
  left: 2px;
  right: 10px;
  height: 7px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger--htx {
  background-color: #525252;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #525252;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.menu-close-container {
	position: absolute;
	left: 280px;
	margin: 0;
}

.enterButton {
	background-color: black;
	opacity: 0.7;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:3px solid #FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#3399FF;
	font-family: "Quicksand";
	font-size:22px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.enterButton:active {
	position:relative;
	top:1px;
}

.enterButton:hover {
	border:3px solid #3399FF;
	color: #FFFFFF;
}

form {
	display: block;
}

.form-control {
	display: block;
	width: calc(100% - 32px);
	height: 20px;
	font-size: 16px;
	color: #555;
	background-color: #fff;
	border: 1px solid #696969;
	padding: 15px;
	margin-top: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	font-family: "Quicksand";
}

#cf {
	width: 35%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

.btn-default {
	width: 100%;
	padding: 20px;
	margin-top: 10px;
	resize: none;
	font-size: 16px;
	display: inline-block;
	background-color: #fff;
	font-family: "Quicksand";
	border: 1px solid #696969;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}

.btn-default:hover {
	background-color: #525252;
	color: white;
	border: 1px solid white;
}

.form-control-text {
	width: calc(100% - 32px);
	display: block;
	font-size: 16px;
	color: #555;
	background-color: #fff;
	border: 1px solid #696969;
	padding: 15px;
	margin-top: 15px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	font-family: "Quicksand";
	resize: none;
}

.contact-info-text h5 {
	margin-top: 0px;
}

.social-buttons {
	text-align: justify;
	width: 50%;
	margin: auto;
}

.social-buttons:after {
	content: '';
	display: inline-block;
	width: calc(100% - 5px);
}

.social-buttons:before {
	content: '';
	display: block;
}

.social-buttons li {
	display: inline-block;
	position: relative;
	text-align: center;
}


.social-button {
	background: white;
}


.social-img {
	border-radius: 50%;
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
}

.social-img:hover {
	border-radius: 50%;
	background-color: #3399FF;
}

.connect {
	width: calc(100% - 8px);
	position: absolute;
	bottom: 35px;
	text-align: center;
	overflow: hidden;
}
